<!DOCTYPE html>
<html>
  <head>
    <title>DraftCC</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="import" href="/app/assets/javascripts/basketball.json">
    <link rel="import" href="/app/assets/javascripts/baseball.json">
    <link rel="import" href="/app/assets/javascripts/football.json">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
